---
import CopybookLayout from '@copybook/layout.astro'
import CanvasPreview from '@copybook/components/CanvasPreview.tsx'
import PanelDrawer from '@copybook/components/PanelDrawer.tsx'
---

<CopybookLayout title="汉字字帖">
  <div class="flex h-full overflow-hidden">
    <PanelDrawer client:only="react" />
    <CanvasPreview client:only="react" />
  </div>
</CopybookLayout>
