---
import Test from '@/components/widgets/Test.tsx'
import MainLayout from '@/layouts/MainLayout.astro'
import { Code } from 'astro/components'
---

<MainLayout title="组件" spaceY={2}>
  <div class="card">
    <div class="title">React组件</div>
    <div class="description">可以在代码中直接使用React组件进行开发</div>
    <div class="code">
      <div class="space-x-2">
        <Test client:load />
      </div>
      <Code
        class="p-2 rounded"
        code={`
import Test from '@/components/widgets/Test.tsx'

<Test client:load />
        `}
        lang="js"
        theme="github-dark"
      />
      <div>
        <a href="https://docs.astro.build/en/guides/integrations-guide/react/">相关文档：@astrojs/react</a>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .card {
    z-index: -1;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #2d3748;
    color: white;

    .title {
      padding: 10px 0;
    }
    .code {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
