---
import MainLayout from '@/layouts/MainLayout.astro'
import Icon from '@/components/widgets/Icon.tsx'
import { Code } from 'astro/components'
---

<MainLayout title="图标" spaceY={2}>
  <div class="card">
    <div class="title">IconPark图标</div>
    <div class="code">
      <div class="flex gap-2">
        <Icon icon="icon-park-outline:moon" client:load />
        <Icon icon="icon-park-solid:moon" client:load />
        <Icon icon="icon-park:moon" client:load />
      </div>
      <Code
        class="p-2 rounded"
        code={`<Icon icon="icon-park-outline:moon" client:load />`}
        lang="js"
        theme="github-dark"
      />
      <Code
        class="p-2 rounded"
        code={`<Icon icon="icon-park-solid:moon" client:load />`}
        lang="js"
        theme="github-dark"
      />
      <Code class="p-2 rounded" code={`<Icon icon="icon-park:moon" client:load />`} lang="js" theme="github-dark" />
    </div>
  </div>

  <div class="card">
    <div class="title">SVG图标</div>
    <div class="code">
      <div class="flex gap-2">
        <Icon icon="icon-svg:logo" client:load />
      </div>
      <Code class="p-2 rounded" code={`<Icon icon="icon-svg:logo" client:load />`} lang="js" theme="github-dark" />
    </div>
  </div>
</MainLayout>

<style>
  .card {
    z-index: -1;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #2d3748;
    color: white;

    .title {
      padding: 10px 0;
    }
    .code {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
