---
import MainLayout from '@/layouts/MainLayout.astro'
import { Code } from 'astro/components'
---

<MainLayout title="图标" spaceY={2}>
  <div class="card">
    <div class="title">IconPark图标</div>
    <div class="code">
      <div class="space-x-2">
        <i class="icon-park-outline:moon"></i>
        <i class="icon-park-solid:moon"></i>
        <i class="icon-park:moon"></i>
      </div>
      <Code
        class="p-2 rounded"
        code={`<i class="icon-park-outline:moon"/>`}
        lang="js"
        theme="github-dark"
      />
      <Code
        class="p-2 rounded"
        code={`<i class="icon-park-solid:moon"/>`}
        lang="js"
        theme="github-dark"
      />
      <Code
        class="p-2 rounded"
        code={`<i class="icon-park:moon"/>`}
        lang="js"
        theme="github-dark"
      />
    </div>
  </div>

  <div class="card">
    <div class="title">SVG图标</div>
    <div class="code">
      <div class="space-x-2">
        <i class="icon-svg:logo"></i>
      </div>
      <Code
        class="p-2 rounded"
        code={`<i class="icon-svg:logo"></i>`}
        lang="js"
        theme="github-dark"
      />
    </div>
  </div>
</MainLayout>

<style>
  .card {
    z-index: -1;
    @apply: rounded-lg p-4 bg-[#2d3748] text-white;

    .title {
      padding: 10px 0;
    }
    .code {
      @apply space-y-10px;
    }
  }
</style>
