---
import { LayoutConfig } from '@/config/layout.config'
import { toPxString } from '@/shared/common/px'

const theme = {
  backgroundColor: '#333',
}
---

<footer
  class="border-gray-200 border-t flex flex-col justify-center px-8"
  style={{ height: toPxString(LayoutConfig.footer.height) }}
>
  <div class="flex items-center justify-between text-14px">
    <div>Made by <a>zhuchentong</a> · All rights reserved.</div>
    <div class="links">
      <a
        class="icon-park-outline:github text-24px"
        href="https://github.com/zhuchentong"></a>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--background-color);
    color: var(--footer-forground-color);
  }
</style>
