---
import HeaderAction from './HeaderAction.astro'
import HeaderLogo from './HeaderLogo.astro'
import HeaderMenu from './HeaderMenu.astro'
---

<header class="sticky relative">
  <nav class="bg-red flex">
    <HeaderLogo />
    <HeaderMenu />
    <HeaderAction />
  </nav>
</header>
