---
import { LayoutConfig } from '@/config/layout.config'
import HeaderAction from './HeaderAction.astro'
import HeaderLogo from './HeaderLogo.astro'
import HeaderMenu from './HeaderMenu.astro'
import { toPxString } from '@/shared/common/px'
---

<header
  id="header"
  class="sticky top-0"
  style={{ height: toPxString(LayoutConfig.header.height) }}
>
  <div class="background absolute inset-0"></div>
  <div class="flex items-center gap-4 px-4 absolute inset-0">
    <HeaderLogo />
    <HeaderMenu />
    <HeaderAction />
  </div>
</header>

<script>
  import { LayoutConfig } from '@/config/layout.config'

  const height = LayoutConfig.header.height
  function applyHeaderStylesOnScroll() {
    const lastKnownScrollPosition = window.scrollY
    const header = document.querySelector('main > #header')
    if (!header) {
      return
    }
    const hasScrollClass = header.classList.contains('scroll')

    switch (true) {
      case lastKnownScrollPosition > height && !hasScrollClass:
        header.classList.add('scroll')
        break
      case lastKnownScrollPosition <= height && hasScrollClass:
        header.classList.remove('scroll')
        break
    }
  }

  function onLoad() {
    applyHeaderStylesOnScroll()
    document.addEventListener('scroll', applyHeaderStylesOnScroll)
  }

  window.onload = onLoad
</script>

<style lang="scss">
  header {
    .background {
      background-color: rgba(var(--background-color-rgb), 0.75);
    }
    &.scroll {
      box-shadow: 0 0.375rem 1.5rem #8c98a421;
      .background {
        @apply backdrop-blur;
      }
    }
  }
</style>
