---
import { NavBarLinks } from '@/config/header.config'
import NavMenu from '@/components/widgets/NavMenu.tsx'
---

<section class="flex-auto">
  <div class="absolute md:static left-0 right-0 top-[60px]">
    <NavMenu items={NavBarLinks} client:load />
  </div>
</section>
