---
import Icon from '@/components/widgets/Icon.tsx'
---

<section>
  <a class="logo text-[48px]" href="/">
    <Icon icon="icon-svg:logo" client:load />
  </a>
</section>

<style>
  .logo {
    color: var(--logo);
  }
</style>
