---
import MainLayout from '@/layouts/MainLayout.astro'
import { Image } from 'astro:assets'
import AvatarImage from '@/assets/images/avatar.jpg'
---

<MainLayout title="关于">
  <section class="py-20 space-y-10!">
    <h1>About</h1>
    <article class="desktop:px-100px mobile:px-20px m-auto">nothing...</article>
  </section>
</MainLayout>

<style>
  h1 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
</style>
