---
import MainLayout from '@/layouts/MainLayout.astro'
import { Image } from 'astro:assets'
import AvatarImage from '@/assets/images/avatar.jpg'
---

<MainLayout title="首页">
  <section class="py-20 space-y-20">
    <div class="w-80% m-auto">
      <h1 class="leading-loose! mobile:text-48px desktop:text-72px">
        The QuickStart Template Use
        <span class="text-[--primary-color-1]">Astro</span>
        And
        <span class="text-[--primary-color-1]">Vue</span>
        For Content Site
      </h1>
    </div>
    <div>
      <Image
        src={AvatarImage}
        alt="avatar"
        class="m-auto rounded-full desktop:w-400px mobile:w-200px"
      />
    </div>
  </section>
</MainLayout>

<style>
  h1 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
</style>
