---
import WorkbookLayout from '@workbook/layout.astro'
---

<WorkbookLayout title="拼音练习">
  <div class="flex h-full items-center justify-center text-gray-400">
    拼音练习功能开发中...
  </div>
</WorkbookLayout>
